<header>
  {% set categories = craft.categories.relatedTo(entry).level(1).limit(1) %}
  {% for category in categories %}
  <a href="{{ category.url }}"><h6>#{{ category.title }}</h6></a>
  {% endfor %}

  {% if currentNav == "homePage" %}
     <a href="{{ entry.url }}"><h1>{{ entry.title }}</h1></a>
  {% else %}
    <h1>{{ entry.title }}</h1>
  {% endif %}

  <p class="time">Julkaistu: <time>{{ entry.postDate | date("m.d.Y") }}</time> · 3 kommenttia</p>
  {% if currentNav == "homePage" %}
  {% else %}
  <social-sharing url="https://vuejs.org/"
  title="The Progressive JavaScript Framework"
  description="Intuitive, Fast and Composable MVVM for building interactive interfaces."
  quote="Vue is a progressive framework for building user interfaces."
  hashtags="vuejs,javascript,framework"
  twitter-user="vuejs"
  v-cloak inline-template>
    <div class="social-sharing">
      <network network="facebook" id="facebook">
        <i class="fa fa-fw fa-facebook"></i>
      </network>
      <network network="twitter" id="twitter">
        <i class="fa fa-fw fa-twitter"></i>
      </network>
      <network network="linkedin" id="linkedin">
        <i class="fa fa-fw fa-linkedin"></i>
      </network>
      <span><i class="fa fa-fw fa-slack"></i></span>
      <span><i class="fa fa-fw fa-envelope"></i></span>
    </div>
  </social-sharing>
  {% endif %}
</header>
