<div id="pageBody">
{% block article %}
{% paginate craft.entries.section('blog').limit(blogSettings.postsPerPage) as info, entries %}
<div id="articleContainerList">
  {% for entry in entries %}
  <article class="articleListContent">

    <section>
      <main class="articleListing">
        {% if entry.featuredImage | length %}
        <div class="articleCoverImage">
          <a href="{{ entry.url }}">
           {% if entry.featuredImage | length %}
             {% set featuredImage = "" %}
             {% set img_transform = {
               mode: 'fit',
               width: 600
             } %}
             {% for asset in entry.featuredImage %}
               {% set featuredImage = asset.getUrl(img_transform) %}
             {% endfor %}
             <div class="image-container">
               <figure class="cover-image">
                  <img img class="img-fluid" src="{{featuredImage}}" alt="{{entry.title}}">
                </figure>
             </div>
           {% endif %}
         </a>
        </div>
        {% endif %}
        <div class="articleContent">
          {% include "_includes/_article-header.html" with {'currentNav':'homePage'} %}
          {% set paragraphs = entry.body|split('</p>') %}
          {% set teaser = paragraphs|first ~ '</p>' %}
          {{ teaser | slice(0,200) | raw   }}
          <div class="readMore">
            <a href="#">Lue lisää</a>
          </div>
        </div>
      </main>
    </section>
  </article>
  {% endfor %}
  {% if info.prevUrl %}
  <a href="{{info.prevUrl}}" class="underline_from_right">« Edelliset | </a>
  {% endif %}
  {% if info.nextUrl %}
  <a href="{{info.nextUrl}}" class="underline_from_left">Seuraavat »</a>
  {% endif %}
</div>
{% endblock %}
</div>
