<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Digikokki</title>
    <meta name="description" content="">
    <!-- bower:css -->
    <!-- endbower -->
    <link rel="stylesheet" href="{{ siteUrl }}css/main.css">
    <!-- inject:css -->
    <!-- endinject -->
  </head>
<body id="siteWrapper">
  {% include "_includes/_top-bar.html" %}
  <main id="siteContainer">
    <div id="pageContent">
        {% block content %}{% endblock %}
    </div>
    <nav id="pageNav">
        {% include "_includes/_nav.html" %}
    </nav>
    <aside id="pageSidebar">
      {% include "_includes/_sidebar.html" %}
    </aside>
  </main>
  <!--footer class="pageFooter">Footer</footer-->
  <script src="{{ ('../../bower_components/vue/dist/vue.min.js') }}"></script>
  <script src="{{ ('../../bower_components/axios/dist/axios.min.js') }}"></script>
  <script src="https://rawgit.com/TahaSh/vue-paginate/master/dist/vue-paginate.js"></script>
  <script src="{{ siteUrl }}js/scripts.js"></script>
</body>
</html>
