{% block pagesidebar %}
<div id="pageSidebarContent">
  <div id="aboutContainer">
    <div id="aboutContent">
      <h3>Digikokki</h3>
      <h2>{{ aboutSiteDetails.admin }}</h2>
      <p>{{ aboutSiteDetails.about }}</p>
    </div>
    <img src="img/profile-image.png"/>
  </div>
  <div id="videoContainer">
    <div id="videoContent">
      <div id="youtubelist">
          <input type="text" placeholder="Etsi videota" v-model="searchkeyword">
          <paginate id="videoLinks" name="filteredlist" class="paginate-list" :list="filteredlist" :per="2">
      			<li v-for="youtubeLink in paginated('filteredlist')">
              <a href="#">
                <div class="videoThumbnail">
                  <img v-bind:src="youtubeLink.image" lass="img-fluid"  alt="youtubeLink.title" />
                </div>
              </a>
              <div class="videoInfo">
                <a v-bind:href="youtubeLink.link" target="_blank"><h4>${ youtubeLink.title }</h4></a>
                <h6><a href="#">#${youtubeLink.category}</a> &middot; <span>Julkaistu: ${youtubeLink.date_published}</span></h6>
              </div>
            </li>
          </paginate>
          <paginate-links for="filteredlist" :simple="{
            next: 'Next »',
            prev: '« Back'
          }"></paginate-links>
    	</div>
      <a href="#" id="showAllVideos">Näytä kaikki</a>
    </div>
  </div>
</div>
{% endblock %}
