@charset 'utf-8';

// Varialbes


$brandColorLight  : #3F72AF;
$brandColorDark   : #065b9f;
$brandColorActive : #0151A4;
$lightBlackText: #606060;
$lightText: #EDEDED;

$html5: 					#f16529 !default;
$css3: 						#33a9dc !default;
$globe: 					#6ecd56 !default;
$javascript: 			#f7df1e !default;

.fa-html5, .html5{
	color: $html5;
}
.fa-css3, .css3{
	color: $css3;
}
.fa-globe, .globe{
	color: $globe;
}
.fa-code, .javascript{
	color: $javascript;
}

// Imports

// inject:vendor
@import "_src/scss/vendor/_fonts.scss";
@import "_src/scss/vendor/_media-queries.scss";
@import "_src/scss/vendor/_shoelace.scss";
@import "_src/scss/vendor/_prism-okaidia.scss";

// inject:app
@import "_src/scss/includes/_article.scss";
@import "_src/scss/includes/_blogPost.scss";
@import "_src/scss/includes/_footer.scss";
@import "_src/scss/includes/_front-page.scss";
@import "_src/scss/includes/_nav.scss";
@import "_src/scss/includes/_page-containers.scss";
@import "_src/scss/includes/_panel-scroll.scss";
@import "_src/scss/includes/_sidebar.scss";
@import "_src/scss/includes/_top-bar.scss";
// endinject

//Base
*{
	box-sizing: border-box;
}

:after, :before {
  box-sizing: border-box
}

html{
	height: 100%;
}

body{
	height: 100%;
  @include font("Open sans");
	-webkit-font-smoothing: subpixel-antialiased;
}

:root {
  --color-primary: $brandColorLight;
}

.newsLetter{
	display: flex;
	align-items: center;
	label{}
	input{
		width: 120px;
		height: 35px;
	}
	button{}
}

input{
	width: 100%;
	border: none;
	margin-bottom: 20px;
	padding: 20px 10px;
	color: #3A3A3A;
	@include font("Montserrat", 400);
	background: #E8EEF7;
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	&:focus{
		background: white;
	}
}

//Typography


//DesktopFirst
@include respond-to($desktop) {
	.pageLeftBlock{
	  flex: 0 0 70px;
	  position: fixed;
	  width: 70px;
	}
	.pageCenterBlock{
	  flex: 1;
	  margin: 0em;
	}
	.pageRightBlock{
	  flex: 0 0 320px;
	  min-width: 0;
	}

	.pageCenterBlockContainer{
	  max-width: 920px;
	  padding: 0 2em;
	  margin: 0 auto;
	  padding-left: 120px;
	}
}

//LaptopFirst
@include respond-to($laptop) {
}

//TabletFirst
@include respond-to($tablet) {

}

//MobileFirst
@include respond-to($mobile) {
}




// Include google fonts
@include import-google-fonts();
