// Varialbes
$whiteText        : #e5e5e5;
$blackText        : #222;
$brandColorLight  : #05477c;
$brandColorDark   : #065b9f;
$brandColorActive : #6EC4E9;

$whiteText: #e5e5e5;
$blackText: #3A3A3A;
$lightBlackText: #606060;
$brandColorActive: #6EC4E9;
$lightText: #EDEDED;

$html5: 					#f16529 !default;
$css3: 						#33a9dc !default;
$globe: 					#6ecd56 !default;
$javascript: 			#f7df1e !default;

.fa-html5, .html5{
	color: $html5;
}
.fa-css3, .css3{
	color: $css3;
}
.fa-globe, .globe{
	color: $globe;
}
.fa-code, .javascript{
	color: $javascript;
}



//Base
*{
	box-sizing: border-box;
}

:after, :before {
  box-sizing: border-box
}

html{
	height: 100%;
}
