<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/shoelace-css/1.0.0-beta10/shoelace.css">
    <script src="https://use.fontawesome.com/9f1ccc6a33.js"></script>
    {{ getHeadHtml() }}
  </head>
<body id="siteWrapper" {% if bodyClass is defined %}class="{{ bodyClass }}"{% endif %}>
  {% block body %}{% endblock %}
	{% block foot %}{% endblock %}
</body>
</html>
