//MobileFirst
#pageNav{
  @include font("Montserrat");
  background-color: $brandColorDark;


  transform: translateX(0%);
  transition: all .2s ease-out;

  z-index: 100;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  #pageNavHeading{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #brandLogo{
    width: 50px;
    margin: 0 auto;
    height: 100%;
    align-self: flex-start;
    margin: 0;
    img:not(.png) {
      width: 70%;
    }
    p{
      display: none;
    }
  }
  #mobileNav{
    display: block;
    color: white;
    text-transform: uppercase;
  }
  #pageNavContent{
    display: none;
    flex-direction: column;
    width: 100%;
    color: white;
    transition: .2s all bubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateX(0%);
    ul{
      margin: 0;
      margin-top: 10px;
      padding: 0;
      li{
        list-style: none;
      }
    }
    &.open{
      display: block;
      flex: 0 0 100%;
      .siteLinkList{
        margin: 0px 30px;
        padding: 10px;
        border-top: solid 1px #004A97;
      }
      #pageLinks{
        border-top: solid 1px $brandColorActive;
        border-bottom: solid 1px $brandColorActive;
        a{
          color: white;
          span{
            opacity:1;
            display: inline-block;
            margin-left: 15px;
          }
        }
        li{
          margin: 15px 0px;
          padding: 0px;
          background: none;
          border: none;
          text-align: left;
        }
      }
      #socialMediaLinks{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        a{
          background: none;
          border: none;
          color: white;
        }
        li{
          margin: 0;
        }
      }
    }
  }
}

//Desktop
@include respond-to($desktop) {
  #pageNav{
    height: 100vh;
    top: 0;
    z-index: 1000;
    flex: 0 0 70px;
    justify-content: flex-start;
    width: 70px;
    left: 0px;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    #pageNavHeading{
      padding: 0px 4px;
    }
    #brandLogo{
      margin: 15px 0 10px 5px;
      border-radius: 100px;
      text-align: center;
    }
    #mobileNav{
      display: none;
      color: white;
      text-transform: uppercase;
    }
    #pageNavContent{
      display: flex;
      flex-direction: column;
      width: 100%;
      color: white;
      font-size: 0.7em;
      .siteLinkList{
        width: 260px;
        position: relative;
        margin: 20px 0px;
        margin-top: 0px;
        padding-top: 30px;
        border-top: solid 1px $brandColorActive;
        a{
          text-transform: uppercase;
        }
        li{
          position: relative;
          display: block;
          margin-bottom: 20px;
          padding: 10px;
          transition: background .2s linear;
          &:hover{
              background: #2372b1;
          }
          /*
          &:after {
              content: "";
              position: absolute;
              width: 6px;
              height: 6px;
              left: 17px;
              top: 7px;
              display: block;
              background: red;
              -webkit-border-radius: 6px;
              border: solid 2px #f8f8f8;
          }
          */
        }
        i{
          position: absolute;
          font-size: 17px;
          color: white!important;
          left: 27px;
        }
        span{
          transition: color .2s;
          color: rgba(148,152,160,0);
          padding: 0 0 0 50px;
        }
      }
    }
    &:hover{
      box-shadow: 3px 0 20px rgba(0, 0, 0, 0.2);
      width: 260px;
      #pageNavContent{
        .siteLinkList{
          a{
            span{
              color: white;
            }
          }
        }
      }
    }
  }
}
