// MobileFist
#siteWrapper{
	display: flex;
  height: 100%;
  flex-direction: column;
}

#siteContainer{
	display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

#pageContent{
  margin: 2em;
}

#pageFooter{
  display: block;
}

//Desktop
@include respond-to($desktop) {
  #siteContainer{
  	flex-direction: row;
  }

	#pageContent{
    flex: 1;
		margin: 0em;
  }

	#pageHeading{
		padding-left: 70px;
		width: 100%;
		height: 400px;
		background-size: cover !important;
		background-position: center center !important;
	}

	#pageBody{
		max-width: 920px;
    padding: 0 2em;
    margin: 0 auto;
		margin-top: 4em;
    padding-left: 120px;
	}

  #pageNav{
    flex: 0 0 70px;
  }

  #pageSidebar{
    flex: 0 0 320px;
		min-width: 0;
  }
	.homepage{
		#pageBody{
			margin-top: 100px;
		}
	}
}
