//MobileFrist
#topBar{
  display: none;
}

//Desktop
@include respond-to($desktop) {
  #topBar{
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #F3F3F3;
    background: white;
    z-index: 90;
    #pageNameHeading{
      font-size: 1rem;
      @include font("Montserrat", 800);
      text-transform: uppercase;
    }
  }
  #topBarContainer{
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
  }
}

/*
.sideBySideContainer{
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  .sideBySideItem{
    &:nth-child(1){
      box-sizing: border-box;
      flex: 0 0 70px;
      position: fixed;
      width: 70px;
      justify-content: flex-start;
    }
    &:nth-child(2){
      flex: 1;
      max-width: 920px;
      padding: 0 2em;
      margin: 0 auto;
    }
    &:nth-child(3){
      flex: 0 0 400px;
    }
  }
}
*/
